*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* menu header ------------------------------------------------------------------- */
#header{
    height: 50px;
    background-color: rgba(8, 8, 130, 0.905);
    text-align: center;
    z-index: 1;   
}
#nav li{
    position: relative;
}
#nav li a {
    text-decoration: none;
    line-height: 48px;
    padding: 0 12px;
}
#nav > li{
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav > li:hover{
    color: #000;
    background-color: rgba(35, 69, 243, 0.826);
}

#nav > li > a {
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
}
/* end menu  */
#form{
    height: 600px;
    width: 500px;
    background-color: antiquewhite;
    margin-left: 33%;
    margin-top: 20px;
}
#form-css{
    margin: 16px 12px;
}
#form >h2{
    height: 40px;
    background-color: rgba(5, 136, 237, 0.959);
    color: #fff;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
#code{
width: 100%;
height: 30px;
border-radius: 8px;
}
#name{
    width: 100%;
    height: 30px;
    border-radius: 8px;
}
#email{
    width: 100%;
    height: 30px;
    border-radius: 8px;
}
#quoctich{
    width: 100%;
    height: 30px;
    border-radius: 8px;
}

#note{
    width: 100%;
    height: 40px;
    border-radius: 8px;
}
.btn-dangky{
    width: 100%;
    height: 32px;
    background-color: rgba(3, 246, 214, 0.718);
    border: none;
    color: #000;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 20px;
}
/* start album------------ */
#product{
    width: 100%;
    height: 300px;
    display: inline-block;
}
#product .product-list {
    padding: 12px 70px;
    
}
#product .product-item{
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 4px solid #f63;
    margin: 24px;
}
#product .product-name {
    font-size: 15px;  
}
#product .product-img {
    margin-top: 15px;
    width: 160px;
    border-radius: 4px;
} 
/* end album---------- */